{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="CE550FEE6B9211C9BCA66F34286A5E45" />
    <meta name="google-site-verification" content="JPxNLmbPTbhK4H599KzpGQppJUB4QK5pHOUothFolME" />
   <meta name="description" content="Sign in at homedepot.com/mycard to access your Home Depot credit card account online. Manage payments, check statements, and set up AutoPay quickly in one secure place.">
<meta name="keywords" content="homedepot.com/mycard sign in, Home Depot MyCard online registration, pay Home Depot credit card online, check Home Depot MyCard statements, set up AutoPay Home Depot MyCard, manage Home Depot card online">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
